.doctor-info {
    background-color: white;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}


.reviews {
    margin-top: 30px;
}

.reviews h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.doctor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


.doctor-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #007bff;
}

.doctor-card h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.doctor-card p {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
}

.doctor-card strong {
    font-weight: bold;
    color: #333;
}

.doctor-card span {
    color: #ffb400;
    font-size: 1.2rem;
}

.reviews-list {
    margin-top: 100px;
}

.review-card {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.review-card .review-author {
    font-weight: bold;
}


span {
    color: #ffb400;
    font-size: 1.2rem;
}

span svg {
    margin-right: 5px;
}


.review-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-form h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}


.form-review input,
.form-review textarea,
.form-review select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fafafa;
}

.form-review textarea {
    height: 150px;
    resize: vertical;
}

.form-review button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}